project-stub/libs/
node_modules/
.DS_Store
.idea
.project
.svn
project-stub/.bem/cache/
project-stub/*.bundles/*/*.*
!project-stub/*.bundles/*/*.bemjson.js
!project-stub/*.bundles/.bem/*

/.vagrant/
/Vagrantfile.local
recipes/cookbooks/
recipes/tmp/